.messageSender {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 1rem;
}
.messageSender-top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
  padding-bottom: 15px;
}
.messageSender-top form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.messageSender-top input {
  padding: 10px 20px;
  background-color: #eff2f5;
  border-radius: 999px;
  outline: none;
  font-size: 0.9rem;
  border: none;
  margin: 0 1rem;
}
.messageSender-top label {
  width: 120px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 5px;
  border-radius: 10px;
}
.messageSender-top label:hover {
  background-color: #eff2f5;
}
.messageSender-top label span {
  color: #444;
  margin-left: 5px;
  font-size: small;
}
.messageSender-input {
  margin-left: 1rem;
  flex: 1;
}
.messageSender-top button {
  width: 50px;
  padding: 5px 7px;
  border: 2px solid #2e81f4;
  background-color: #2e81f4;
  border-radius: 5px;
  margin-left: 20px;
  transition: all 0.2s;
  outline: none;
}
.messageSender-top button:hover {
  background-color: #0f66e0 !important;
}
.messageSender-top button:active {
  border: 2px solid #fff;
}
.messageSender-bottom {
  display: flex;
  justify-content: space-evenly;
}
.messageSender-option {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: gray;
  margin: 5px;
}
.messageSender-option h3 {
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.messageSender-option:hover {
  background-color: #eff2f5;
  border-radius: 20px;
}
